*.class
doc/
null/
.settings/
/target/

#Remove Traits.
src\main\resources\defaultTraits

copyJar.bat
testlolwtd

# Package Files #
#*.jar#We still need the libs
*Trait.jar
*.war
*.ear
/bin
/.classpath
/.project
dependency-reduced-pom.xml
